process {
    executor = 'local'

    withName: 'BUILD_COESSENTIALITY_FEATURES' {
        memory = '8 GB'
        cpus = 4
    }

    withName: 'BUILD_PATHWAY_FEATURES' {
        memory = '4 GB'
        cpus = 2
    }

    withName: 'ASSEMBLE_FEATURES' {
        memory = '2 GB'
        cpus = 1
    }
}

conda.enabled = false
