/*
 * Default resource settings for Design B processes.
 * Override per-process with withName blocks below.
 */
process {
    cpus          = 1
    memory        = '8.GB'
    time          = '2.h'
    errorStrategy = 'terminate'

    withName: 'LOAD_SHARON_SCREEN|GENERATE_CROSS_SPLITS|RUN_CROSS_BASELINE|AGGREGATE_CROSS_RESULTS|SUMMARY_REPORT_B' {
        memory = '8.GB'
        time   = '30.m'
        cpus   = 1
    }

    withName: 'RUN_CROSS_SPLIT' {
        memory = '8.GB'
        time   = '30.m'
        cpus   = 2
    }

    withName: 'TRANSFER_CALIBRATION_C2S|TRANSFER_CALIBRATION_S2C' {
        memory = '16.GB'
        time   = '2.h'
        cpus   = 2
    }

    withName: 'VALIDATE_SCHEMA_B' {
        memory = '2.GB'
        time   = '10.m'
        cpus   = 1
    }
}
