/*
 * SLURM cluster settings.
 * Adjust queue names to match your cluster configuration.
 */
process {
    executor = 'slurm'
    queue    = 'regular'

    withName: 'BUILD_FEATURES' {
        queue  = 'bigmem'
        memory = '64.GB'
        time   = '6.h'
        cpus   = 8
    }

    withName: 'RUN_SPLIT' {
        queue  = 'regular'
        memory = '16.GB'
        time   = '1.h'
        cpus   = 8
        // RF n_jobs=-1 uses all cpus allocated
        clusterOptions = '--nodes=1'
    }

    withName: 'RUN_REDUCED_SPLIT' {
        queue  = 'regular'
        memory = '16.GB'
        time   = '1.h'
        cpus   = 8
        clusterOptions = '--nodes=1'
    }

    withName: 'RUN_ABLATION' {
        queue  = 'regular'
        memory = '4.GB'
        time   = '15.m'
        cpus   = 1
    }

    withName: 'TRANSFER_CALIBRATION' {
        queue  = 'regular'
        memory = '32.GB'
        time   = '4.h'
        cpus   = 8
        clusterOptions = '--nodes=1'
    }
}
